.box1{
    border: inset;
    border-width: 12px;
    border-color: blue;
}

.box2{
    border:dotted;
    border-width: 7px;
    border-color: greenyellow;
}

.box3{
    border: groove;
    border-width: 24px;
    border-color:hotpink;

}

.box4{
    border: inset;
    border-width: 6px;
    width: 200px;
    height: auto;
    text-align: center;
    border-color:brown; 
    border-radius: 30px;
}

